{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-fluid">
    <div class="container">
        {% for listing in listing_list %}
        <div class="row justify-content-center main_container">
            {% if listing.image %}
                <div class="col-md-3 max-width-column market-img">
                    <img src= "{{ listing.image.url }}" class="listing-img" alt="">
                </div>
            {% else %}
                <div class="col-md-3 max-width-column">
                    <img src= "{% static 'images/pexels-julia-volk-6118897.jpg' %}" class="listing-img" alt="market stall">
                </div>
            {% endif %}
          <div class="col-md-6 max-width-column">
            <h1 id="names">{{ listing.title }}</h1>
            <a href="{% url 'listing_detail' listing.slug %}" class="listing-link">
             <div class="col">
                {{ listing.description | safe }}
             </div>
            </a>
             <div class="col">
                <div class="row">
                    <div class="col">
                        <p>{{ listing.market_date }}</p>
                    </div>
                    <div class="col">
                        <p>{{ listing.location }}</p>
                    </div>
                </div>
             </div>
          </div>
          <div class="col-md-3 max-width-column">
            <div class="col price">
                <h2>{{ listing.stall_price }}</h2>
                <p>Includes taxes and charges</p>
            </div>
            <div class="col">
                <a href="{% url 'listing_detail' listing.slug %}" class="button-link">
                    <button type="button" class="button">See availability ></button>
                </a>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation" class="page-list">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                    class="button">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" 
                class="button"> NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

{% endblock %}