{% extends "base.html" %}

{% block content %}

<!-- index.html content starts here -->
<div class="container-fluid">
    <div class="container">
        {% for listing in listing_list %}
        <div class="row justify-content-center main_container">
          <div class="col-md-3 max-width-column">
            <!-- Content for Column 1 -->
            <a href="">{{ listing.image }}</a>
          </div>
          <div class="col-md-6 max-width-column">
            <!-- Content for Column 2 -->
            <h1>{{ listing.title }}</h1>
            <a href="" class="listing-link">
             <div class="col">
                <p>{{ listing.description }}</p>
             </div>
            </a>
             <div class="col">
                <div class="row">
                    <div class="col">
                        <p>{{ listing.market_date }}</p>
                    </div>
                    <div class="col">
                        <p>Location</p>
                    </div>
                </div>
             </div>
          </div>
          <div class="col-md-3 max-width-column">
            <!-- Content for Column 3 -->
            <div class="col price">
                <h2>{{ listing.stall_price }}</h2>
                <p>Includes taxes and charges</p>
            </div>
            <div class="col">
                <a href="" class="button-link">
                    <button type="button" class="button">See availability ></button>
                </a>
            </div>
          </div>
        </div>
        {% if forloop.counter|divisibleby:3 %}
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation" class="page-list">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li>
                <a href="?page={{ page_obj.previous_page_number }}"
                    class="button">&laquo; PREV</a>
            </li>
            {% endif %}
            {% if page_obj.has_next %}
            <li>
                <a href="?page={{ page_obj.next_page_number }}" 
                class="button"> NEXT &raquo;</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>

<!-- index.html content ends here -->
{% endblock %}