{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="container-fluid">
    <div class="row detail">
        <div class="col-2 listing-description">
            <div class="row listing-description">
                <h1>Description:</h1>
                <hr>
                <p>{{ listing.description }}</p>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="col listing-image">
                    <a href="">{{ listing.image }}</a>
                </div>
                <div class="col">
                    <div class="row detail-title">
                        <h1>{{ listing.title }}</h1>
                        <hr>
                    </div>
                    <div class="row">{{ listing.location }}</div>
                    <div class="row detail-time-date">
                        <div class="col">
                            <h2>Start at:</h2>
                            <p>{{ listing.market_time }}</p>
                        </div>
                        <div class="col">
                            <h2>Date:</h2>
                            <p>{{ listing.market_date }}</p>
                        </div>
                    </div>
                    <div class="row temrs-conditions">
                        <h1>Terms&Conditions</h1>
                        <p>
                            Clearly outline the process for making a reservation or booking.
                            Specify the required information, such as name, contact details, 
                            payment information, and any other relevant details.
                            Clearly state the conditions under which a booking can be canceled.
                            Outline any cancellation fees or penalties.
                            Specify the refund policy, including timelines for processing refunds.
                            Provide details on payment methods accepted.
                            Specify when payment is due whether it's at the time of booking, upon arrival, or according to a specific schedule.
                        </p>
                        <h1>{{ listing.created_on}}</h1>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="reserve-button">Reserve</button>
                </div>
                <div class="col detail-price">
                    <h2>{{ listing.stall_price }}</h2>
                    <p>Includes taxes and charges</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
          <strong class="num-comments">
            <i class="far fa-comments"></i> {{ comment_count }}
          </strong>
        </div>
        <div class="col-12">
          <hr>
        </div>
      </div>
    <div class="row">
        <div class="row">
            <div class="row comments">
                <h2>Comments:</h2>
            </div>
            <div class="mt-3 d-flex flex-row align-items-center p-3 form-color"><input type="text" class="form-control" placeholder="Enter your comment..."> </div>
            <div class="row">
                <div class="col-md-8 card mb-4  mt-3 ">
                  <div class="card-body">
                    {% for comment in comments %}
                    <div class="p-2 comments{% if not comment.approved and comment.author == user %}
                      faded{% elif not comment.approved %} d-none{% endif %}">
                      <p class="font-weight-bold">
                        {{ comment.author }}
                      </p>
                      <div id="comment{{ comment.id }}">
                        {{ comment.body | linebreaks }}
                      </div>
                      <span class="font-weight-normal">
                        {{ comment.created_on }}
                      </span>
                      {% if not comment.approved and comment.author == user %}
                      <p class="approval">
                        This comment is awaiting approval
                      </p>
                      {% endif %}
                    </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
        </div>
    </div>
</div>

{% endblock content %}