{% extends 'base.html' %} 
{% block content %}
{% load static %}

<div class="container-fluid">
    <div class="container detail">
        <div class="col">
            <div class="row bg-warning">
                <h1>Hello</h1>
            </div>
            <div class="row bg-info">
                <h1>Hello</h1>
            </div>
        </div>
        <div class="col bg-danger">
            <div class="row bg-secondary">
                <div class="col bg-primary">
                    <h1>Hello</h1>
                </div>
                <div class="col bg-warning">
                    <div class="row bg-info">1</div>
                    <div class="row bg-secondary">2</div>
                    <div class="row bg-danger">3</div>
                    <div class="row bg-warning">4</div>
                </div>
            </div>
            <div class="row bg-success">
                <h1>Hello</h1>
            </div>
        </div>
    </div>
</div>

{% endblock content %}