{% extends 'base.html' %} 
{% block content %}
{% load static %}
{% load crispy_forms_tags %}

{% block image %}
{% endblock image %}
<div class="container-fluid">
    <div class="row detail">
        <div class="col-lg-2 md-12 listing-description">
            <div class="row listing-description">
                <h1>Description:</h1>
                <hr>
                <p>{{ listing.description | safe}}</p>
            </div>
        </div>
        <div class="col-lg-6 md-12">
            <div class="row detail-direction">
                  {% if listing.image %}
                    <div class="col-lg-6 md-12">
                      <img src= "{{ listing.image.url }}" class="listing-detail-img" alt="">
                    </div>
                  {% else %}
                    <div class="col-lg-6 md-12">
                      <img src= "{% static 'images/pexels-julia-volk-6118897.jpg' %}" class="listing-detail-img" alt="market stall">
                    </div>
                  {% endif %}
                <div class="col-lg-6 md-12">
                    <div class="row detail-title">
                        <h1>{{ listing.title }}</h1>
                        <hr>
                    </div>
                    <div class="row location">{{ listing.location }}</div>
                    <div class="row detail-time-date">
                        <div class="col">
                            <h2>Start at:</h2>
                            <p>{{ listing.market_time }}</p>
                        </div>
                        <div class="col">
                            <h2>Date:</h2>
                            <p>{{ listing.market_date }}</p>
                        </div>
                    </div>
                    <div class="row temrs-conditions">
                        <h1>Terms&Conditions</h1>
                        <p>
                            Clearly outline the process for making a reservation or booking.
                            Specify the required information, such as name, contact details, 
                            payment information, and any other relevant details.
                            Clearly state the conditions under which a booking can be canceled.
                            Outline any cancellation fees or penalties.
                            Specify the refund policy, including timelines for processing refunds.
                            Provide details on payment methods accepted.
                            Specify when payment is due whether it's at the time of booking, upon arrival, or according to a specific schedule.
                        </p>
                        <h1>{{ listing.created_on}}</h1>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                  <a href="#">
                    <button type="button" class="reserve-button">Reserve</button>
                  </a>
                </div>
                <div class="col detail-price">
                    <h2>{{ listing.stall_price }}</h2>
                    <p>Includes taxes and charges</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
          <strong class="num-comments">
            <i class="far fa-comments"></i> {{ comment_count }}
          </strong>
        </div>
      </div>
      <hr>
      <div class="container">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible
              fade show" id="msg" role="alert">
              {{ message | safe }}
              <button type="button" class="btn-close"
                data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    <div class="col-md-6 card mb-4 mt-3 form">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3>Leave a comment:</h3>
        <p class="comment-user">{{ user.username }}</p>
        <form id="commentForm" method="post">
          {{ comment_form | crispy }}
          {% csrf_token %}
          <button id="submitButton" type="submit"
            class="btn btn-signup btn-lg">Submit</button>
        </form>
        {% else %}
        <p>If you want to comment on this listing please: <a class="link" href="{{ signup_url }}">sign up</a></p>
        {% endif %}
      </div>
    </div>
  <div class="row comment">
    <div class="col-md-12 card mb-4  mt-3 ">
      <h3>Comments:</h3>
      {% for comment in comments %}
      <div class="card-body">
        <div class="p-2 comments
          {% if not comment.approved and comment.author == user %}
          faded {% elif not comment.approved %} d-none{% endif %}">
          <p class="author">
            {{ comment.author }}
          </p>
          <div id="comment{{ comment.id }}">
            {{ comment.body | linebreaks }}
          </div>
          <hr>
          <span class="created-on-comment">
            {{ comment.created_on }}
          </span>
          {% if not comment.approved and comment.author == user %}
          <hr>
          <p class="approval">
            This comment is not yet approved
          </p>
          {% endif %}
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}