body {
    background-color: rgba(255, 255, 255, 0.473);
}

.navbar-toggler-icon {
    padding-top: 5px;
    font-size: 24px;
    color:#fff;
}

.main_container {
    margin-top: 5%;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
}

.main_container h1 {
    font-size: 34px;
}

.main_container p {
    font-size: 14px;
}

.listing-link {
    text-decoration: none;
    color: black;
}

.user-log {
    color:#fff;
    margin-top: 3%;
    position: absolute;
}

.listing-link:hover {
    color:green;
}
.price {
    margin-top: 10px;
    text-align: right;
}

.price h2 {
    font-size: 34px;
}

.price p {
    margin-top: 5px;
    font-size: 12px;
}

.button {
    margin-top: 5%;
    margin-bottom: 5%;
    float: right;
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 20px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.button:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.button:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.button:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.reserve-button {
    margin-top: 5%;
    margin-bottom: 5%;
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 50px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.reserve-button:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.reserve-button:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.reserve-button:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.page-list {
    margin-top: 3%;
}

.navbar {
    background-color: rgb(44, 42, 53);
}

nav a {
    color: #fff;
}

.nav-link {
    color: #fff;
    text-decoration: none;
}

footer {
    background-color: rgb(44, 42, 53);
}

.main-image {
    width: 100%;
    height: 100%;
}

.main-image2{
    display: none;
 }

.listing-img {
    width: 100%;
    max-height: 350px;
    min-height: 300px;
    -webkit-transform: scale(0.999);
    transform: scale(0.999);
}

.listing-detail-img {
    width: 100%;
    max-height: 500px;
}

.slogan {
    background-color: rgba(75, 75, 75, 0.699);
    padding: 10px 0px 10px 10%;
    position: absolute;
    margin-top: 20%;
    color:#fff;
}

.slogan h1 {
    font-size: 72px;
}

.temrs-conditions {
    font-size: 10px;
    margin-top: 20px;
}

.temrs-conditions h1 {
    font-size: 10px;
}

.listing-description {
    font-size: 16px;
}

.listing-description h1 {
    font-size: 24px;
}

.listing-image {
    background-color: red;
}

.location {
    justify-content: center;
}
.detail {
    margin-bottom: 5%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.15);
    padding-top: 50px;
    padding-bottom: 50px;
}

.detail-direction {
    display: flex;
}

.detail-title {
    text-align: center;
}

.detail-time-date {
    text-align: center;
    margin-top: 20px;
}

.detail-time-date p {
    font-size: 24px;
}

.detail-price {
    text-align: right;
}

.card {
    border: none;
    background-color: transparent;
}

.card-body {
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.185);
}

.author {
    color: #27ae60;
    font-weight: 600;
    letter-spacing: 1px;
}

.created-on-comment {
    font-weight: 500;
}

.form {
    box-shadow: 0 5px 10px -6px rgb(2, 216, 2);
    float: right;
}

.comment-user {
    font-weight: 500;
}
.approval {
    margin-top: 2%;
    color: rgba(202, 5, 5, 0.548);
    font-weight: 500;
}

.faded {
    color: rgba(172, 175, 175, 0.137);
}

.log-in {
    text-align: center;
    background-color: #31313110;
    margin-top: 2%;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.185);
    font-weight: 500;
}

.sign-in {
    text-align: center;
    background-color: #31313110;
    margin-top: 2%;
    margin-bottom: 5%;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.185);
    font-weight: 500;
}

.sign-out {
    font-size: 24px;
    font-weight: 500;
    color:rgb(211, 3, 3);
    padding: 2%;
    text-align: center;
    background-color: #31313110;
    box-shadow: 0 5px 10px -6px rgba(0, 0, 0, 0.185);
}

.log-out {
    text-align: center;
}

.btn-signup {
    margin-top: 2%;
    margin-bottom: 5%;
    appearance: none;
    backface-visibility: hidden;
    background-color: #27ae60;
    border-radius: 8px;
    border-style: none;
    box-shadow: rgba(39, 174, 96, .15) 0 4px 9px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: Inter,-apple-system,system-ui,"Segoe UI",Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: normal;
    line-height: 1.5;
    outline: none;
    overflow: hidden;
    padding: 13px 50px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transform: translate3d(0, 0, 0);
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: top;
    white-space: nowrap;
}

.btn-signup:hover {
    background-color: #1e8449;
    opacity: 1;
    transform: translateY(0);
    transition-duration: .35s;
}

.btn-signup:active {
    transform: translateY(2px);
    transition-duration: .35s;
}

.btn-signup:hover {
    box-shadow: rgba(39, 174, 96, .2) 0 6px 12px;
}

.welcome {
    margin-top: 2%;
    padding: 10px;
    text-align: center;
    font-weight: 600;
    color: aliceblue;
    background-color: rgb(44, 42, 53); ;
    box-shadow: rgba(51, 51, 51, 0.568) 0 6px 12px;
}

.sign-up-form {
    font-weight: 500;
    margin-bottom: 2%;
    margin-top: 2%;
    padding: 20px;
    box-shadow: rgba(51, 51, 51, 0.068) 0 6px 12px;
}

.alert {
    box-shadow: rgb(0, 184, 0) 0 6px 12px;
}

/* media max-width 480px */
@media only screen and (max-width: 480px){ 
    .main-image{
      display: none;
    }
 
    .main-image2{
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
 }
@media (max-width: 480px) {
    .form {
        float: none;
    }
    .user-log {
        font-weight: 500;
        background-color: rgba(61, 61, 61, 0.363);
        margin-top: 150%;
    }
    .slogan {
        font-weight: 300;
        padding-left: 10px;
        margin-top: 60%;
    }
    .slogan h1 {
        font-size: 32px;
    }

    .slogan h2 {
        font-size: 20px;
    }
    .main-image {
        width: 100%;
        height: 350px;
    }
    .main_container h1 {
        font-size: 24px;
    }
    .main_container p {
        font-size: 12px;
    }
    .price {
        margin-top: 5px;
    }
    .price h2 {
        font-size: 24px;
    }
    .price p {
        font-size: 10px;
    }
    .button {
        margin-top: 0%;
    }
    .listing-description p {
        font-size: 14px;
        margin-left: 3px;
    }
}

